version: "3.8"
x-environment: &environment
  CLICKHOUSE_USER: default
  CLICKHOUSE_PASSWORD: ""
  CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
  CLICKHOUSE_CONFIG_max_memory_usage: 30000000000
  CLICKHOUSE_CONFIG_max_partitions_per_insert_block: 100
  CLICKHOUSE_CONFIG_max_concurrent_queries: 20
  CLICKHOUSE_CONFIG_max_threads: 4
  CLICKHOUSE_REPLICATION: "1"

services:

  # =====================
  # ZOOKEEPER + KAFKA
  # =====================
  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:6.2.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-exporter:
    image: danielqsj/kafka-exporter
    container_name: kafka-exporter
    command:
      - "--kafka.server=kafka:9092"
    ports:
      - "9308:9308"
    depends_on:
      - kafka

  # =====================
  # REDIS (3 NODES)
  # =====================
  redis-1:
    image: redis:7-alpine
    container_name: redis-1
    command: redis-server --appendonly yes

  redis-2:
    image: redis:7-alpine
    container_name: redis-2
    command: redis-server --replicaof redis-1 6379
    depends_on:
      - redis-1

  redis-3:
    image: redis:7-alpine
    container_name: redis-3
    command: redis-server --replicaof redis-1 6379
    depends_on:
      - redis-1

  redis-exporter:
    image: oliver006/redis_exporter
    container_name: redis-exporter
    environment:
      REDIS_ADDR: redis-1:6379
    ports:
      - "9121:9121"
    depends_on:
      - redis-1

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    depends_on:
      - redis-1

  # =====================
  # POSTGRESQL
  # =====================
  postgres:
    image: postgres:15.6
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: abds
    ports:
      - "5432:5432"

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://user:password@postgres:5432/abds?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      - postgres

  # =====================
  # CLICKHOUSE
  # =====================
  clickhouse:
    image: clickhouse/clickhouse-server:25.8
    container_name: ch1
    ports:
      - "8123:8123" # Веб-интерфейс
      - "9000:9000"
    volumes:
      - ./ch1_volume:/var/lib/ch1
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

  # =====================
  # MONITORING
  # =====================
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_INSTALL_PLUGINS=grafana-clickhouse-datasource

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"

  # =====================
  # AIRFLOW
  # =====================
  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow-init
    user: root
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://user:password@postgres/abds
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: "THIS_IS_A_DEMO_FERNET_KEY_32BYTES!"
      AIRFLOW__WEBSERVER__SECRET_KEY: "THIS_IS_A_DEMO_SECRET_KEY"
    volumes:
      - ./airflow:/opt/airflow
    command: >
      bash -c "
      mkdir -p /opt/airflow/logs /opt/airflow/dags /opt/airflow/plugins &&
      chown -R 50000:0 /opt/airflow &&
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "
    depends_on:
      - postgres
    restart: "no"

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow-webserver
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    user: "50000:0"
    ports:
      - "8081:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://user:password@postgres/abds
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: "THIS_IS_A_DEMO_FERNET_KEY_32BYTES!"
      AIRFLOW__WEBSERVER__SECRET_KEY: "THIS_IS_A_DEMO_SECRET_KEY"
    volumes:
      - ./airflow:/opt/airflow
    command: webserver
    restart: unless-stopped

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow-scheduler
    depends_on:
      airflow-webserver:
        condition: service_started
    user: "50000:0"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://user:password@postgres/abds
      AIRFLOW__CORE__FERNET_KEY: "THIS_IS_A_DEMO_FERNET_KEY_32BYTES!"
    volumes:
      - ./airflow:/opt/airflow
    command: scheduler
    restart: unless-stopped

  superset:
    build: ./build/superset
    container_name: superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "9dfc3c4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f"
    volumes:
      - superset_volume:/app/superset_home
    restart: unless-stopped

volumes:
  superset_volume:
